POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=

SECRET_KEY=

FRONTEND_BASE_URL=

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=
JWT_BLACKLIST_AFTER_ROTATION=
JWT_REFRESH_TOKEN_LIFETIME_DAYS=
JWT_ROTATE_REFRESH_TOKENS=
JWT_UPDATE_LAST_LOGIN=
